/* custom variables for the main code*/
:root {
  --main-white: #F0F0F0;
  --main-red: #9C2E1F;
  --main-blue: #334A5A;
  --main-gray: #70818B;
  --main-black: #0C1824;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behaviour: smooth;
}

body {
  font-family:
  font-size:
  font-weight:
  line-height:
  color:
}

h1 {
  font-family: cursive;
  font-weight: 500;
  text-align: center;
}

p {
  font-family: monospace;
  font-weight: 1000;
  text-align: center;
  color: var(--main-red);
}

a {
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  color: var(--main-blue);
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-gray);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  width: 100%;
  height: auto;
  background-color: var(--main-black);
  background-image: linear-gradient(62deg, #70818B 0%, #0C1824 100%);
}
